.hiatus-arc {
    background-color: #E0E0E0;
}
.h-row:hover .hiatus-arc {
    background-color: #cacaca !important;
}

.obama1 {
	background-color: #009688;
}

.h-row:hover .obama1 {
	background-color: #004D40;
}

.obama2 {
	background-color: #3F51B5;
}

.h-row:hover .obama2 {
	background-color: #1A237E;
}

.election2016 {
	background-color: #9C27B0;
}

.h-row:hover .election2016 {
	background-color: #7B1FA2;
}

.trump {
	background-color: #FF6F00;
}
.h-row:hover .trump{
	background-color: #BB6600;
}

.election2020 {
	background-color: #E91E63;
}

.h-row:hover .election2020 {
	background-color: #B2185B;
}

.insurrection {
	background-color: #B91E1E;
}

.h-row:hover .insurrection {
	background-color: #921818;
}

.biden {
	background-color: #4CAF50;
}

.h-row:hover .biden {
	background-color: #339037;
}

.chapter-black {
    background-color: #009688;
}
.h-row:hover .chapter-black {
    background-color: #004D40;
}
